:root{
    --bg: #111;
    --bg-accent: #222;
    --text: #169;
    --text-accent: #5ad;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

body{
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.content{
    padding: 20px;
}

h1{
    font-weight: 800;
}

button{
    background: var(--bg);
    border: solid 1px var(--bg-accent);
    color: var(--text);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

button:disabled{
    background: var(--bg-accent);
    color: var(--text-accent);
}

#input-list{
    list-style: none;
    padding: 0;
}

.input-list-input{
    padding: 5px;
    display: block;
    width: 100%;
    background: var(--bg);
    color: var(--text);
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    border: solid 1px var(--bg);
    font-size: 1.5rem;
    outline: none !important;
}

.input-list-input:placeholder-shown{
    background: var(--bg-accent);
    color: var(--text-accent);
}

.input-list-input:focus{
    border: solid 1px var(--bg-accent);
}

#choice-div{
    display: none;
}

@media only screen and (min-width: 750px){
    body{
        font-size: 2rem;
    }

    .input-list-input{
        font-size: 1.5rem;
    }
}
